[github]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "http://oauth2-rs.lvh.me/auth/github/callback"

[google]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "https://oauth2-rs.lvh.me/auth/google/callback"
