[github]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "http://oauth2-rs.lvh.me/auth/github/callback"

[google]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "https://oauth2-rs.lvh.me/auth/google/callback"

[twitch]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "https://oauth2-rs.lvh.me/auth/twitch/callback"

[mastodon_social]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "http://oauth2-rs.lvh.me/auth/mastodon-social/callback"

[apple]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "https://oauth2-rs.lvh.me/auth/apple/callback"

[instagram]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "https://oauth2-rs.lvh.me/auth/instagram/callback"

[facebook]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "https://oauth2-rs.lvh.me/auth/facebook/callback"

[amazon]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "https://oauth2-rs.lvh.me/auth/amazon/callback"

[gitlab]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "http://oauth2-rs.lvh.me/auth/gitlab/callback"

[bitbucket]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "http://oauth2-rs.lvh.me/auth/bitbucket/callback"

[digitalocean]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "http://oauth2-rs.lvh.me/auth/digitalocean/callback"

[dropbox]
client_id = "xxx"
client_secret = "xxx"
redirect_uri = "https://oauth2-rs.lvh.me/auth/dropbox/callback"
